In [1]:
# import necessary packages
import numpy as np
import pandas as pd
import os

import allensdk
from allensdk.brain_observatory.behavior.behavior_project_cache import VisualBehaviorOphysProjectCache
from visual_behavior.data_access import loading
import visual_behavior.database as db
from multiprocessing import Pool

In [76]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [98]:
data_storage_directory = '/allen/programs/braintv/workgroups/nc-ophys/visual_behavior/production_cache'
cache = VisualBehaviorOphysProjectCache.from_s3_cache(cache_dir=data_storage_directory)

experiment_table = cache.get_ophys_experiment_table().reset_index()
len(experiment_table)

1165

In [54]:
%%time
conn = db.Database('visual_behavior_data')
coll = conn['ophys_analysis']['cell_specimen_table']

cell_table = coll.find({})

conn.close()

cell_table.count()

1165

In [7]:
%%time

oeid = 989610987

conn = db.Database('visual_behavior_data')
coll = conn['ophys_analysis']['cell_specimen_table']

# cell_table = coll.find({})
# cell_table = pd.DataFrame(list(coll.find({'ophys_experiment_id':oeid})))
csid = 1086510464
cell_table = pd.DataFrame(list(coll.find({'cell_specimen_id':csid})))

conn.close()

CPU times: user 33.5 ms, sys: 35.5 ms, total: 69 ms
Wall time: 217 ms

In [8]:
cell_table

,_id,ophys_experiment_id,ophys_session_id,cell_specimen_id,cell_roi_id,height,mask_image_plane,max_correction_down,max_correction_left,max_correction_right,max_correction_up,roi_mask,valid_roi,width,x,y,entry_time_utc
0,60a2a347824918f87facb13f,986518880,985609503,1086510464,1080694475,26,1,19.0,5.0,9.0,4.0,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1,17,156,98,2021-05-17 17:09:27.735082
1,60a2a3eda9c71a9f77acb22f,990400778,990139534,1086510464,1080671345,18,1,17.0,5.0,4.0,8.0,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1,17,154,100,2021-05-17 17:12:13.224450
2,60a2aa1d7e3e209024acb32b,989610987,989267296,1086510464,1080708745,14,1,7.0,3.0,6.0,3.0,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",1,16,135,76,2021-05-17 17:38:24.303942

In [70]:
%%time

conn = db.Database('visual_behavior_data')
coll = conn['ophys_analysis']['cell_specimen_table']

cell_table = pd.DataFrame(list(coll.find({}, {'ophys_experiment_id':1, 'cell_specimen_id': 1, 'cell_roi_id': 1, '_id':0})))

conn.close()

CPU times: user 307 ms, sys: 37.4 ms, total: 344 ms
Wall time: 48.7 s

In [71]:
len(cell_table['cell_roi_id'].unique())

92209

In [72]:
len(cell_table['cell_specimen_id'].unique())

34681

In [73]:
len(cell_table['ophys_experiment_id'].unique())

1165

In [74]:
cell_table.duplicated(subset = ['ophys_experiment_id', 'cell_specimen_id']).sum()

0

## spot check some experiments

In [57]:
selected_experiment_table = experiment_table.sample(10, random_state = 0)

In [60]:
datasets = {}
for idx, row in selected_experiment_table.iterrows():
    ophys_experiment_id = row['ophys_experiment_id']
    print(ophys_experiment_id)
    datasets[ophys_experiment_id] = cache.get_behavior_ophys_experiment(ophys_experiment_id)

792813858

behavior_ophys_experiment_792813858.nwb: 100%|██████████| 1.12G/1.12G [01:28<00:00, 12.8MMB/s]
behavior_ophys_experiment_888876943.nwb:   0%|          | 0.00/244M [00:00<?, ?MB/s]

888876943

behavior_ophys_experiment_888876943.nwb: 100%|██████████| 244M/244M [00:21<00:00, 11.5MMB/s]
behavior_ophys_experiment_986518885.nwb:   0%|          | 0.00/474M [00:00<?, ?MB/s]

986518885

behavior_ophys_experiment_986518885.nwb: 100%|██████████| 474M/474M [00:34<00:00, 13.8MMB/s]
behavior_ophys_experiment_972233187.nwb:   0%|          | 1.02k/315M [00:00<13:16:17, 6.60kMB/s]

972233187

behavior_ophys_experiment_972233187.nwb: 100%|██████████| 315M/315M [00:25<00:00, 12.2MMB/s]
behavior_ophys_experiment_914107595.nwb:   0%|          | 0.00/367M [00:00<?, ?MB/s]

914107595

behavior_ophys_experiment_914107595.nwb: 100%|██████████| 367M/367M [00:29<00:00, 12.3MMB/s]
behavior_ophys_experiment_984914588.nwb:   0%|          | 0.00/256M [00:00<?, ?MB/s]

984914588

behavior_ophys_experiment_984914588.nwb: 100%|██████████| 256M/256M [00:20<00:00, 12.2MMB/s]
behavior_ophys_experiment_995622557.nwb:   0%|          | 0.00/283M [00:00<?, ?MB/s]

995622557

behavior_ophys_experiment_995622557.nwb: 100%|██████████| 283M/283M [00:22<00:00, 12.5MMB/s]
behavior_ophys_experiment_993864050.nwb:   0%|          | 0.00/312M [00:00<?, ?MB/s]

993864050

behavior_ophys_experiment_993864050.nwb: 100%|██████████| 312M/312M [00:25<00:00, 12.0MMB/s]
behavior_ophys_experiment_942596355.nwb:   0%|          | 0.00/278M [00:00<?, ?MB/s]

942596355

behavior_ophys_experiment_942596355.nwb: 100%|██████████| 278M/278M [00:23<00:00, 11.8MMB/s]
behavior_ophys_experiment_908381680.nwb:   0%|          | 0.00/417M [00:00<?, ?MB/s]

908381680

behavior_ophys_experiment_908381680.nwb: 100%|██████████| 417M/417M [00:32<00:00, 12.7MMB/s]

In [101]:
datasets.keys()

dict_keys([792813858, 888876943, 986518885, 972233187, 914107595, 984914588, 995622557, 993864050, 942596355, 908381680])

In [77]:
for oeid in datasets.keys():
    dataset = datasets[oeid]
    cell_specimen_table = dataset.cell_specimen_table
    mongo_subset = cell_table.query('ophys_experiment_id == {}'.format(oeid))
    print('the NWB file for oeid {} has {} cell ROIs, the mongo DB has {} cells'.format(oeid, len(cell_specimen_table), len(mongo_subset)))

the NWB file for oeid 792813858 has 208 cell ROIs, the mongo DB has 208 cells
the NWB file for oeid 888876943 has 6 cell ROIs, the mongo DB has 6 cells
the NWB file for oeid 986518885 has 103 cell ROIs, the mongo DB has 103 cells
the NWB file for oeid 972233187 has 32 cell ROIs, the mongo DB has 32 cells
the NWB file for oeid 914107595 has 66 cell ROIs, the mongo DB has 66 cells
the NWB file for oeid 984914588 has 15 cell ROIs, the mongo DB has 15 cells
the NWB file for oeid 995622557 has 8 cell ROIs, the mongo DB has 8 cells
the NWB file for oeid 993864050 has 12 cell ROIs, the mongo DB has 12 cells
the NWB file for oeid 942596355 has 23 cell ROIs, the mongo DB has 23 cells
the NWB file for oeid 908381680 has 50 cell ROIs, the mongo DB has 50 cells

In [68]:
len(cell_specimen_table)

208

In [100]:
oeids = experiment_table['ophys_experiment_id'].unique()
# oeids = [572604813, 486554118]
query = 'select * from cell_rois where ophys_experiment_id in {}'.format(tuple(oeids))
lims_rois = db.lims_query(query)
len(lims_rois)

500886

In [88]:
len(lims_rois)

500886

In [99]:
lims_rois[pd.notnull(lims_rois['cell_specimen_id'])]

,id,cell_specimen_id,ophys_experiment_id,x,y,width,height,valid_roi,mask_matrix,max_correction_up,max_correction_down,max_correction_right,max_correction_left,mask_image_plane,ophys_cell_segmentation_run_id
0,1080887111,1.086497e+09,775614751,261,130,31,26,False,"[[False, False, False, False, False, False, Fa...",13.0,16.0,8.0,23.0,2,1080818871
1,1080886741,1.086497e+09,775614751,318,263,19,15,False,"[[False, False, False, False, False, False, Fa...",13.0,16.0,8.0,23.0,0,1080818871
2,1080886246,1.086497e+09,775614751,108,399,36,21,False,"[[False, False, False, False, False, False, Fa...",13.0,16.0,8.0,23.0,2,1080818871
3,1080886079,1.086497e+09,775614751,394,451,14,14,False,"[[False, False, False, True, True, True, False...",13.0,16.0,8.0,23.0,1,1080818871
4,1080885382,1.086497e+09,775614751,267,99,14,16,False,"[[True, True, False, False, False, False, Fals...",13.0,16.0,8.0,23.0,0,1080818871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500835,1080639623,1.086631e+09,1071440875,136,471,13,19,False,"[[False, False, False, False, False, False, Fa...",20.0,10.0,10.0,0.0,0,1080628312
500836,1080639627,1.086631e+09,1071440875,301,454,13,21,False,"[[False, False, False, False, False, False, Fa...",20.0,10.0,10.0,0.0,0,1080628312
500837,1080639763,1.086631e+09,1071440875,69,224,15,27,True,"[[False, False, True, True, False, False, Fals...",20.0,10.0,10.0,0.0,0,1080628312
500838,1080639658,1.086631e+09,1071440875,169,322,15,13,True,"[[False, False, False, False, True, True, True...",20.0,10.0,10.0,0.0,0,1080628312
500839,1080639663,1.086630e+09,1071440875,283,321,19,16,True,"[[False, False, False, False, True, True, True...",20.0,10.0,10.0,0.0,0,1080628312

In [94]:
len(lims_rois['ophys_experiment_id'].unique())

1165

In [95]:
lims_rois

,id,cell_specimen_id,ophys_experiment_id,x,y,width,height,valid_roi,mask_matrix,max_correction_up,max_correction_down,max_correction_right,max_correction_left,mask_image_plane,ophys_cell_segmentation_run_id
0,1080887111,1.086497e+09,775614751,261,130,31,26,False,"[[False, False, False, False, False, False, Fa...",13.00000,16.0000,8.0000,23.00000,2,1080818871
1,1080886741,1.086497e+09,775614751,318,263,19,15,False,"[[False, False, False, False, False, False, Fa...",13.00000,16.0000,8.0000,23.00000,0,1080818871
2,1080886246,1.086497e+09,775614751,108,399,36,21,False,"[[False, False, False, False, False, False, Fa...",13.00000,16.0000,8.0000,23.00000,2,1080818871
3,1080886079,1.086497e+09,775614751,394,451,14,14,False,"[[False, False, False, True, True, True, False...",13.00000,16.0000,8.0000,23.00000,1,1080818871
4,1080885382,1.086497e+09,775614751,267,99,14,16,False,"[[True, True, False, False, False, False, Fals...",13.00000,16.0000,8.0000,23.00000,0,1080818871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500881,1071711124,NaN,1071440875,110,436,14,15,True,"[[False, False, False, True, True, True, True,...",1.86198,28.2115,8.6613,1.76051,0,1071710344
500882,1071711123,NaN,1071440875,269,479,18,12,True,"[[False, False, False, False, True, True, True...",1.86198,28.2115,8.6613,1.76051,0,1071710344
500883,1071711122,NaN,1071440875,52,441,12,18,True,"[[False, True, True, True, True, True, True, F...",1.86198,28.2115,8.6613,1.76051,0,1071710344
500884,1071711121,NaN,1071440875,136,489,15,19,False,"[[False, False, False, False, False, False, Fa...",1.86198,28.2115,8.6613,1.76051,0,1071710344
500885,1071711120,NaN,1071440875,170,483,13,17,False,"[[False, False, False, False, False, True, Tru...",1.86198,28.2115,8.6613,1.76051,0,1071710344